[user]
	name = Jason Templeton
	email = jtemple77@gmail.com
[github]
	user = jtemplet
	token = fd412aa6f0af1cee9173995a0752232a
[apply]
	whitespace = nowarn
[alias]
	co = checkout
    st = status
    ci = commit
    br = branch
    df = diff
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
    ls = ls-files
    dump = cat-file -p
    type = cat-file -t
[remote "origin"]
	url = git@github.com:jtemplet/com.astralplanelabs.cdc.pc.git
[remote "heroku"]
    url = git@heroku.com:cold-ice-884.git
    fetch = +refs/heads/*:refs/remotes/heroku/*
[remote "jtemplet-dotfiles"]
	url = git@github.com:jtemplet/dotfiles.git
[remote "jtemplet-scripts"]
	url = git@github.com:jtemplet/scripts.git
[remote "github-hinty"]
	url = git@github.com:oshea/hinty.git
[remote "github-tauri"]
	url = git@github.com:jtemplet/Tauri.git
[remote "github-words"]
	url = git@github.com:oshea/mgf.git
[remote "github-mat"]
	url = git@github.com:jtemplet/laundromat.git
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[giggle]
	main-window-maximized = false
	main-window-geometry = 1355x687+88+81
	file-view-vpane-position = 628
	history-view-vpane-position = 168
	main-window-view = HistoryView
	file-view-hpane-position = 341
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[diff]
	external = /home/jtemplet/scripts/meld_diff.py
