*.log
rebel.xml
bin/*
bin
*.class
*.zip
*.bak
*.head
*.prefs
*.merged
.metadata/
*~
*.bak
build
.classpath
.CVS
derby.log
dist
.DS_Store
*.ear
.hg*
.idea
*.iml
*.ipr
*.iws
lib_managed
lift_example
.manager
.metadata
null
*.off
*.old
.project
project/boot
rebel.xml
*.releaseBackup
release.properties
runner
*.ser
.settings
.settings/
.svn
output/
output/*
*.swp
syntax: glob
target
target/
*tar.gz
*.iml
java/**/target/
flex/**/target/
test-output
test/output/db/*
tmp*
*.war
!.gitignore
!.vimrc
!.bashrc
!.bash_aliases
