[user]
	name = Jason Templeton
	email = jtemple77@gmail.com
[github]
	user = jtemplet
	token = fd412aa6f0af1cee9173995a0752232a
[apply]
	whitespace = nowarn
[alias]
	co = checkout
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
[remote "origin"]
	url = git@github.com:jtemplet/com.astralplanelabs.cdc.pc.git
[remote "jtemplet-dotfiles"]
	url = git@github.com:jtemplet/dotfiles.git
[remote "github-hinty"]
	url = git@github.com:oshea/hinty.git
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[giggle]
	main-window-maximized = false
	main-window-geometry = 1355x687+88+81
	file-view-vpane-position = 628
	history-view-vpane-position = 168
	main-window-view = HistoryView
	file-view-hpane-position = 341
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
